/* link to the poster that inspired https://www.themoviedb.org/t/p/original/eP5NL7ZlGoW9tE9qnCdHpOLH1Ke.jpg
  link to the trailer of the movie  -https://www.youtube.com/watch?v=EXeTwQWrcwY&pp=ygUXdGhlIGRhcmsga25pZ2h0IHRhcmlsZXI%3D
  
  Movie name - The Dark Knight (2008) 
Name -Anoop Kuriakose
Student No - 200378937
  */





/* CSS for the movie poster */

/* Set the background color of the entire HTML page to black */
html {
  background-color: black;
}

/* Style the body */
body {
  margin: 0;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the movie poster container */
.poster {
  display: flex;
  justify-content: center;
  background-image: url('./images/Awesome\ Textless\ Movie\ Poster\ Collection.jpeg');
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 600px;
  align-items: center;
  animation: posterAnimation 4s infinite;
}

/* Define animation for the poster */
@keyframes posterAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Style the movie title */
.poster h2 {
  position: relative;
  top: -200px;
  left: 40%;
  transform: translateX(-50%);
  color: beige;
  font-size: 50px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Style the credits container */
.credits {
  margin-top: 20px;
  color: beige;
  background-image: url(./images/dc_articleHero_default_logo.png);
  font-size: 22px;
  padding: 1em;
  opacity: 0.1;
  scroll-padding: 2em;
  opacity: 0.8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Style the text within the credits container */
.credits p {
  margin: 5px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/* Style the image/logo */
img {
  position: absolute;
  right: 25px;
  width: 300px;
  height: 79px;
  opacity: 0.6;
}

